* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: #ffffff;
    --background-secondary: #e9f3f5;
    --text-primary: #28324a;
    --text-invert: #ffffff;
    --accent-primary: #f46524;
    --accent-secondary: #28324a;
}

body {
    height: 100vh;
    background-color: var(--background-primary);
}

.card{
    width: 250px;
    background-color: #e9f3f5;
    text-align: center;
    padding-bottom: 20px;
    
}

.card-header{
    background-color: rgb(195, 252, 252);
    width: 250px;
    height: 100px;
}

.card-img{
    display: block;
    background-color: rgb(193, 189, 189);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: -80px;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 6px solid white;

}

.card-content{
    padding: 20px;
    text-align: left;
}

.card-link{
    text-decoration: none;
}

