* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: #ffffff;
    --background-secondary: #e9f3f5;
    --text-primary: #28324a;
    --text-invert: #ffffff;
    --accent-primary: #f46524;
    --accent-secondary: #28324a;
}

body {
    height: 100vh;
    background-color: var(--background-primary);
}


.intro{
    /* border: 1px solid red; */
    height: 400px;
    display: flex;
 }

 .logo-content-container{
    width: 400px;
    display: flex;
    /* border: 1px solid pink; */
    width: 70%;
    display: flex;
    background: linear-gradient(var(--background-secondary), var(--background-primary))
 }
 .intro-logo{
    margin: auto auto;
    /* border: 1px solid blue; */
    height: 200px;
    width: 350px;
    background: url("/assets/cs-logo.jpeg");
    background-size: cover;
 }
 .intro-content{
    /* border: 1px solid black; */
    width: 400px;
    padding: 40px;
    margin: 0px auto;
    color: var(--accent-primary);
    font-size: medium;
    /* display: flex;
    justify-content: space-between;
    text-align: justify; */
    background: linear-gradient(var(--background-secondary), var(--background-primary))
 }
 
 .intro-content-aftername{
    color: var(--accent-secondary);
 }


 .intro-content p{
    color: var(--text-primary);
    /* border: 1px solid green; */
    padding: 4px;
    margin: 5px;
    border-bottom: 3px solid var(--background-secondary);
    background: var(--background-primary);
 }

 .intro-other-section{
    /* margin: 20px; */
    padding: 5px;
    font-size: medium;
    color: var(--accent-primary);
    align-items: center;
    width: 400px;
    text-align: justify;
    background: linear-gradient(var(--text-invert),var(--background-secondary));
 }

 .intro-internship-content p{
   color: var(--text-primary);
 }
 .recuritment{
   /* border : 1px solid green; */
   height: 303px;
   width: 300px;
   display: flex;
   flex-direction: column;
 }
 .on-campus-re{
   display: flex;
 }
 .off-campus-re{
   display: flex;
 }
 #on-campus-re-box{
   /* display: block; */
   margin: 20px;
   height: 20px;
   width: 20px;
   background-color: var(--accent-primary);
   border: 1px solid black;
   border-radius: 50%;
}

#off-campus-re-box{
   /* display: block; */
   margin: 20px;
   height: 20px;
   width: 20px;
   background-color: var(--accent-primary);
   border: 1px solid black;
   border-radius: 50%;
}