* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: #ffffff;
    --background-secondary: #e9f3f5;
    --text-primary: #28324a;
    --text-invert: #ffffff;
    --accent-primary: #f46524;
    --accent-secondary: #28324a;
}

body {
    height: 100vh;
    background-color: var(--background-primary);
}

.red-border{
   border: 0px solid red;
}

.blue-border{
   border: 0px solid blue;
}

.contact{
   background-color: var(--background-secondary);
   display: grid;
   padding: 2% 4%;
   grid-template-columns: 33.33% 33.33% 33.33%;
}

.contact__logo-address{
   grid-row: 1;
   grid-column: 1;
}

.contact__sitemap{
   grid-row: 1;
   grid-column: 2;
}

.contact__connect{
   grid-row: 1;
   grid-column: 3;
}

.contact__logo{
   width: min(100%,300px);
}
.contact__sitemap{
   margin: 0 auto;
}
.contact__sitemap-menu{
   display: flex;
   flex-direction: column;
}
.contact__connect-text{
   text-align: center;
}
.contact__email{
   display: flex;
}
.contact__socials{
   display: flex;
   justify-content: space-around;
}
.contact__socials-icon{
   width: 60px;
   height: 60px;
   border-radius: 100%;
   background-color: var(--accent-primary);
}